.element {
  display: inline-block;
  width: 600px;
  height: 600px;
  background: #ce8888;
  }
 #xyz {
 	background:url(https://www.wizardingworld.com/quiz/the-sorting-hat-quiz) no-repeat  center/cover;
 }
 